---

- name: add users | create users, shell, home dirs
  user:
    name: "{{ item.username }}"
    shell: "/bin/bash"
    createhome: true
    comment: 'created with ansible'
  with_items: '{{ users }}'

- name: modify .ssh permissions
  file:
    path: '/home/{{ item.username }}/.ssh'
    state: directory
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
  with_items: '{{ users }}'

- name: setup | authorized key upload
  authorized_key:
    user: "{{ item.username }}"
    key: "{{ lookup('file', './../../_ssh/{{ Env }}/{{ item.username }}.pub') }}"
    path: '/home/{{ item.username }}/.ssh/authorized_keys'
    manage_dir: false
  with_items: '{{ users }}'

- name: transfer ssh config /etc/ssh/ssh_config
  copy:
    src: templates/keys/ssh_config
    dest: /home/{{ item.username }}/.ssh/config
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
    mode: 0644
  with_items: '{{ users }}'

- name: sudoers | update sudoers file and validate
  lineinfile:
    dest: "/etc/sudoers"
    insertafter: EOF
    line: '{{ item.username }} ALL=(ALL) NOPASSWD: ALL'
    regexp: '^{{ item.username }} .*'
    state: present
  when: item.use_sudo
  with_items: '{{ users }}'

- name: delete user | remove user
  user:
    name: "{{ item.username }}"
    state: absent
    remove: true
  ignore_errors: true
  when: rm_user_flag
  with_items: '{{ rm_users }}'
